<div id='container' ng-controller='LinksController'>
  <!-- Your html here -->
  <div class='navigation'>
    <ul>
      <li><a href='#/links' class='index'>Links</a></li>
      <li><a href='#/shorten' class='create'>Shorten</a></li>
      <li><a href='#/signin' ng-click='logout()'>Log Out</a></li>
    </ul>
  </div>

  <div class='link' ng-repeat="link in data.links track by $index">
     <img src='/redirect_icon.png'/>
    <div class='info' >
      <div class='visits'><span class='count'>{{ link.visits }}</span>Visits</div>
      <div class='title'>{{ link.title }}</div>
      <div class='original'>{{ link.url }}</div>
      <a href='{{link.code}}'>{{ link.baseUrl }}/{{ link.code }}</a>
    </div>
  </div>


</div>